* {
    box-sizing: border-box;
}

.content {
    color: #676565;
    background-color: #FEEED6;
    font-family: Arial, sans-serif;
    max-width: 740px;
    width: auto;
    height: auto;
    margin: auto;
    padding: 6px 10px;
    padding-bottom: 2px;
}

.header {
    font-size: 28px;
    color: #676565;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 0;
}

.blue {
    color: #378DB2;
    font-weight: bold;
}

.crossed {
    text-decoration: line-through;
}

.item {
    margin-bottom: 9px;
    margin-top: 0;
}

.content-item {
    margin-top: 14px;
    margin-bottom: 8px;
}

.text {
    font-size: 15px;
    line-height: 21px;
    text-indent: 1em;
    text-align: justify;
}

    .text p {
        margin-top: 0;
        margin-bottom: 10px;
    }

        .text p:last-child {
            margin-bottom: 0;
        }
