* {
    box-sizing: border-box;
}

.form {
    background: linear-gradient(0, #dbdbdc, #f8fafd 70%);
    border: 1px solid #ADAEAE;
    border-radius: 5px;
    height: auto;
    margin: auto;
    max-width: 911px;
}

.small-text {
    font-size: 12px;
}

.header-button {
    display: inline-block;
    padding: 25px 0;
    background-color: #FED40F;
    margin-right: 1px;
    cursor: pointer;
    color: #846F0D;
    text-align: center;
    height: 60px;
    width: calc((100% - 6px) / 7);
    font-family: Candara, sans-serif;
    font-size: 20px;
    text-decoration: none;
    line-height: 0.5;
}

.underline:hover {
    border-bottom: 1px solid;
}

.gabriel-button {
    border-bottom: 1px solid;
    color: #D50308;
}

.header-button:last-child {
    margin-right: 0;
}

.header-backcolor {
    background: linear-gradient(to top, #ffd200 20%, #caaa14 50%, #ffd200 80%);
}

.disabled {
    cursor: default;
    color: #E1BE17;
}

.first-table {
    border-collapse: collapse;
    text-align: center;
    color: #6D6D6D;
    font-family: Calibri, sans-serif;
    margin-bottom: 3px;
}

    .first-table thead {
        font-size: 13px;
        width: 909px;
        padding: 0 13px 0 7px;
        text-align: left;
    }

        .first-table thead tr {
            border-bottom: 1px solid grey;
            min-height: 32px;
            height: auto;
            display: block;
            margin: 0 13px 0 7px;
            padding: 5px 0 5px 7px;
        }

    .first-table tbody {
        display: block;
        overflow: auto;
        max-height: 236px;
        padding: 0 13px 0 7px;
    }

    .first-table td {
        height: 39px;
    }

        .first-table td:nth-of-type(1) {
            font-size: 15px;
        }

        .first-table td:nth-of-type(2) {
            font-size: 12px;
        }

        .first-table td:nth-of-type(3) {
            font-size: 11px;
        }

        .first-table td:nth-of-type(4) {
            font-size: 19px;
            font-weight: bold;
            color: #6D6D6D;
            font-family: Calibri, sans-serif;
        }

        .first-table th:nth-of-type(1), .first-table td:nth-of-type(1) {
            width: 92px;
            min-width: 68px;
        }

        .first-table th:nth-of-type(2), .first-table td:nth-of-type(2) {
            width: 43px;
            min-width: 37px;
        }

        .first-table th:nth-of-type(3), .first-table td:nth-of-type(3) {
            width: 235px;
            min-width: 78px;
        }

        .first-table td:nth-of-type(4) {
            width: 76px;
            min-width: 56px;
        }

    .first-table th:nth-of-type(4) {
        width: 88px;
        min-width: 56px;
    }

    .first-table th:nth-of-type(5), .first-table td:nth-of-type(5) {
        width: 202px;
        min-width: 100px;
    }

    .first-table th:nth-of-type(6), .first-table td:nth-of-type(6) {
        width: 241px;
        min-width: 115px;
    }

.comment {
    max-width: 197px;
    width: 100%;
    padding-left: 10px;
}

.et-count {
    width: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 3px
}

.comment, .et-count {
    height: 19px;
    border: 1px solid #bdbebe;
    font-size: 10px;
}

.et-range {
    cursor: pointer;
    width: 100%;
    max-width: 129px;
}

.green-button, .gray-button {
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    width: 173px;
    height: 42px;
    font-family: Arial, sans-serif;
    border-bottom-left-radius: 4px;
}

    .green-button:hover {
        background: none;
        background-color: #7EA92F;
    }

    .gray-button:hover {
        background: none;
        background-color: #C8C8C8;
    }

.green-button {
    background: linear-gradient(0, #7EA92F, #90BC3A);
    border: 1px solid;
    color: #FFFFFF;
    border-color: #628428;
}

.gray-button {
    background: linear-gradient(0, #C8C8C8, #FFFFFF);
    border: 1px solid;
    border-color: #ADAEAE;
    color: #919191;
    margin-left: 11px;
}

.left-button-size {
    width: 100%;
}

.right-button-size {
    width: calc((100% - 15px) / 2);
}

.left {
    float: left;
    width: 20.1%;
}

.right {
    float: right;
    width: 42%;
}

.buttons {
    padding: 23px 23px 20px 23px;
    width: 100%
}

.refresh-time {
    font-size: 13px;
    color: #6D6D6D;
    width: 18%;
    font-family: Calibri, sans-serif;
    padding-right: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.button-margin {
    display: inline-block;
    width: 173px;
    margin-left: auto;
}

.refresh {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
}

.table-header {
    border-collapse: collapse;
    width: 100%;
    margin-top: 13px;
}

    .table-header tr {
        width: 100%;
    }

.trash {
    margin-right: 17px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: 17px;
}

.second-table-header {
    width: 660px;
    padding-left: 23px;
    font-size: 20px;
    font-weight: bold;
    color: #6D6D6D;
    font-family: Calibri, sans-serif;
}

.second-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    text-align: left;
    font-family: Calibri, sans-serif;
    color: #6D6D6D;
}

    .second-table thead {
        background-color: #fed515;
        color: #6e5d0b;

        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        width: 882px;
    }

    .second-table th {
        padding-top: 7px;
        padding-left: 12px;
        height: 30px;
        display: inline-block;
    }

    .second-table thead tr {
        display: block;
        height: 30px;
        width: calc(100% - 17px);
    }

    .second-table tbody {
        display: block;
        max-height: 133px;
        overflow: auto;
        width: 100%;
    }

        .second-table tbody tr {
            display: inline-block;
            width: 100%;
        }

    .second-table td {
        display: inline-block;
        padding-top: 7px;
        padding-left: 12px;
        height: 30px;
        position: relative;
        z-index: 2;
    }

    .second-table tbody tr:not(:first-child) {
        border-top: 1px dotted #bfc0c0;
        position: relative;
        z-index: 2;
    }

    .second-table tbody td:not(:first-child) {
        border-left: 1px dotted #bfc0c0;
    }

    .second-table tbody td:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 0;
        border-bottom: 1px dotted #ffffff;
        border-left: 1px dotted #ffffff;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .second-table th:not(:first-child) {
        border-left: 1px dotted #bfa31a;
    }

    .second-table td:nth-of-type(1), .second-table th:nth-of-type(1) {
        padding-left: 30px;
        width: 17%;
    }

    .second-table td:nth-of-type(2), .second-table th:nth-of-type(2) {
        width: 14.24%;
    }

    .second-table td:nth-of-type(3), .second-table th:nth-of-type(3) {
        width: 14.57%;
    }

    .second-table td:nth-of-type(4), .second-table th:nth-of-type(4) {
        width: 18.05%;
    }

    .second-table td:nth-of-type(5), .second-table th:nth-of-type(5) {
        width: 34.2%;
    }

.under-consideration {
    background-color: #b4d3f8;
}
