body {
    background-color: #FEEED6;
    color: #676565;
    font-family: Arial;
    line-height: 160%;
}

h1 {
    font-size: 170%;
    color: #676565;
    font-weight: normal;
}

.blue {
    color: #378DB2;
    font-weight: bold;
}

.crossed {
    text-decoration: line-through;
}

p {
    font-size: 90%;
    text-indent: 1em;
    line-height: 150%;
}