* {
    box-sizing: border-box;
}

.header {
    font-size: 29px;
    font-weight: normal;
    text-indent: 18px;
    margin-bottom: 3px;
}

.request-form {
    background-color: #FEEED6;
    padding: 15px 18px;
    height: auto;
    font-size: 14px;
}

.header, .request-form {
    max-width: 736px;
    width: 100%;
    color: #676565;
    font-family: Arial, sans-serif;
}

.fields-names {
    font-weight: bold;
}

.field {
    height: 34px;
    text-indent: 14px;
    width: 100%;
}

.comment {
    height: 112px;
    padding: 9px 13px;
    margin-bottom: 13px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    min-width: 100%;
}

.field, .comment {
    border: none;
    color: #444444;
    margin-top: 7px;
    margin-bottom: 17px;
}

.information {
    margin-top: 0;
}

.send-button {
    display: block;
    width: 149px;
    height: 32px;
    background-color: #378DB2;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    margin-top: 12px;
    margin-left: auto;
}

    .send-button:hover {
        cursor: pointer;
        background-color: #2d7798;
    }
