* {
    box-sizing: border-box;
}

.persons {
    max-width: 750px;
    width: 100%;
    font-family: sans-serif;
    font-size: 21px;
    border-collapse: collapse;
}

    .persons thead {
        background-color: #3498DB;
    }

    .persons th {
        color: #FFFFFF;
        text-align: left;
        font-weight: inherit;
    }

    .persons td, .persons th {
        padding: 10px 11px;
        border: 1px solid #CCCCCC;
    }

    .persons tbody {
        background-color: #EEEEEE;
    }

    .persons tr:nth-child(even) {
        background-color: #FFFFFF;
    }
